<html>
 <body style="background-color:powderblue;">

 <h1 align="center"> Hello there! </h1>
 <br>
 <br>
 <h2 align="center"> Whats your name? </h2>
 <br>
 <form align="center" action="/name" method="post">
  Name: <input type="text" name="name">
  <br>
 <h2 align="center"> When is your birthday? </h2> 
 </form>
 
</body>
</html>
